<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>

    <testsuites>
        <testsuite name="NM B2B API Unit Test Suites">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="_reports/logs/clover.xml"/>
        <log type="coverage-xml" target="_reports/coverage/coverage.xml"/>
        <log type="testdox-text" target="_reports/testdox/executed.txt"/>
    </logging>
</phpunit>